@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  font-family: Figtree, sans-serif;
}
h2{
  font-size: 1.4rem;
  font-weight: 600;
}

.navbar {
  font-weight: 600;
}

.login h1 {
  font-size: 35px;
  font-weight: 600;
}

.login-label {
  margin-bottom: 2px;
}

.login-button {
  border: #C3D898 solid 2px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #C3D898;
}

.login-input {
  border: solid #C3D898 1px;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}

.signup h1 {
  font-size: 35px;
  font-weight: 600;
}

.signup-label {
  margin-bottom: 2px;
}

.signup-button {
  border: #C3D898 solid 2px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.signup-button:hover {
  background-color: #C3D898;
}

.signup-input {
  border: solid #C3D898 1px;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}

.chart-totals-cont {
  min-width: 100%;
}

.expense-summary {
  width: 50%;
}

.expense-summary h1 {
  font-size: 1.2rem;
  font-weight: 600;
}

.income-summary {
  width: 50%;
}

.income-summary h1 {
  font-size: 1.2rem;
  font-weight: 600;
}