@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  margin: 0 auto;
  font-family: Figtree, sans-serif;
}

body {
  background-color: #f4f6fc;
}

h1 {
  font-size: 2rem;
}

h2{
  font-size: 1.4rem;
  font-weight: 600;
}

.trash-icon {
  transition: color 0.2s;
}

.trash-icon:hover {
  color: rgb(164, 16, 16);
}




.navbar {
  font-weight: 600;
}

.login h1 {
  font-size: 35px;
  font-weight: 600;
}

.login-label {
  margin-bottom: 2px;
}

.login-button {
  border: #C3D898 solid 2px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.login-button:hover {
  background-color: #C3D898;
}

.login-input {
  border: solid #C3D898 1px;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}

.signup h1 {
  font-size: 35px;
  font-weight: 600;
}

.signup-label {
  margin-bottom: 2px;
}

.signup-button {
  border: #C3D898 solid 2px;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.signup-button:hover {
  background-color: #C3D898;
}

.signup-input {
  border: solid #C3D898 1px;
  border-radius: 5px;
  padding: 4px;
  padding-left: 10px;
}





.donut-chart-div {
  min-height: 40vh;
  width: 49.5%;
  border: solid rgb(234, 234, 234) 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 15px;
}





.summaries {
  
}

.summary-red {
  color: rgb(164, 16, 16);
}

.summary-green {
  color: rgb(65, 152, 65);
}

.expense-summary-div button {
  border: solid rgb(179, 179, 179) 1px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.expense-summary-div h4 {
  font-size: 1rem;
  font-weight: 600;
}

.expense-summary-div p {
  font-size: 0.9rem;
  color: #646464;
}

.expense-summary-div {
  width: 33.333%;
  border: solid rgb(234, 234, 234) 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 15px;
}

.income-summary button {
  border: solid rgb(179, 179, 179) 1px;
  border-radius: 15px;
  font-size: 0.9rem;
}

.income-summary h4 {
  font-size: 1rem;
  font-weight: 600;
}

.income-summary p {
  font-size: 0.9rem;
  color: #646464;
}

.income-summary-div {
  width: 33.333%;
  border: solid rgb(234, 234, 234) 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 15px;
}

.totals-div {
  width: 33.333%;
  border: solid rgb(234, 234, 234) 1px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 15px;
}

.add-expense-div {
  
}

.add-expense {
  width: 50%;
}

.add-income {
  width: 50%;
}


@media only screen and (max-width: 750px) {
  .donut-totals-div {
    flex-direction: column;
  }

  .donut-chart-div {
    height: 40vh;
    width: 100%;
  }

  .summaries {
    flex-direction: column;
  }

  .expense-summary-div {
    width: 100%;
  }

  .income-summary-div {
    width: 100%;
  }

  .totals-div {
    width: 100%;
  }
}

@media only screen and (max-width: 1024) {
  .expense-summary-div {
    width: 50%;
  }

  .income-summary-div {
    width: 50%;
  }

  .totals-div {
    width: 100%;
  }
}
